body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#container {
    text-align: center;
}

#title {
    color: #333;
}

.animated-card {
    padding: 10px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.album-cover {
    width: 800px;
    height: 800px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(https://www.lahiguera.net/musicalia/imagesnot/16872782576491d2b1484a0.jpg);
}

#generateBtn {
    background: #874caf;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
}

#albumLink {
    margin-top: 10px;
    padding: 5px;
}

#openSpotifyBtn {
    background: #49b91d; /* Cor verde do Spotify */
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease; /* Adicionando uma transição suave de cor */
}

#openSpotifyBtn:hover {
    background: #8d72cc; /* Cor verde ligeiramente mais escura ao passar o mouse */
}